
@keyframes buttonIntro {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.button{
  animation: buttonIntro 2s ease-in-out;
}

.buttonEl:hover{
  transform: scale(0.9);
  transition: .5s;
}


@keyframes textIntro {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.text{
  animation: textIntro 2s ease-in-out;
}