
@keyframes buttonIntro {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.button{
  animation: buttonIntro 0.5s ease-in-out;
}

@keyframes textIntro {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.text{
  animation: textIntro 0.5s ease-in-out;
}